<!DOCTYPE html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://dimsemenov.com/plugins/magnific-popup/site-assets/all.min.css?v=0.9.9">
    <title></title>
</head>
<body>
    <form action="/user/">  
        <button onclick="logOut()">Log Out</button>
    </form>
    <div>
        <button class="popup-with-form1" onclick="getPizza()" href="#test-form1">Корзина</button>
        <div id="test-form1" class="white-popup-block mfp-hide"> 
            <table>
                <tbody id="brd">

                </tbody>
            </table>
        </div>
    </div>
    <form action='/user/pay' method='get'><button>Посмотреть заказ!</button></form>
    <div>
        <button class="popup-with-form" onclick="choosePizza()" href="#test-form">Выбрать Пиццу</button>
        <div id="test-form" class="white-popup-block mfp-hide"> 
            <table>
                <tbody id= "brd1">

                </tbody><div id="pizza"></div>
            </table>
        </div>
    </div>
</body>
</html>
<script src="http://dimsemenov.com/plugins/magnific-popup/dist/jquery.magnific-popup.min.js?v=0.9.9"></script>
<script>
    function logOut() {
        $.get( "/user/logOut")
    }
    function getPizza() {   
        $.get( "/user/getPizza", function( data ) {
            $('#brd').empty();
            $.each(data, function(k)  {
            $("#brd").append("<tr id = 'remove'><td id ='namePizza'>"+data[k].name+"</td><br/><td id='pricePizza'>"+data[k].price+"<td>ГРН</td><td><br/><button id='buttonPizza' class='delete' data-pizza='"+data[k].name+"' data-price='"+data[k].price+"'>Удалить</button><button data-price='"+data[k].price+"' data-name='"+data[k].name+"' class='check'>Подтвердить</button><button data-price='"+data[k].price+"' data-name='"+data[k].name+"' class='uncheck'>Отменить</button></tr>");
            });

            $("#brd").append("<input type='text' name='card' id='cardNumber'>Номер Карты</input><br><input type='text' name='addres' id='addres'>Адресс</input><br><button class='pay'>Подтвердить</button>");
        });
    }
    $('#brd').on('click', '.pay', function() {
        $(this).css("background", "green")
        $(this).attr('disabled', true);
        var data = {    
            "cardnumber": $('#cardNumber').val(),
            "addres": $('#addres').val(), 
        }; 
        console.log(data)
        $.ajax({   
            url: '/user/pay',    
            type: 'POST', 
            data: JSON.stringify(data), 
            contentType: "application/json; charset=utf-8",   
            dataType: "json",   
            success : function(data) {
                console.log(data.cardnumber)
                console.log(data.addres)
            },
        });
    });
    $('#brd').on('click', '.check', function() { 
        $(this).css("background", "green")
        $(this).attr('disabled', true);
        $(".uncheck").css("background", "buttonface")
        $(".uncheck").attr('disabled', false);
        var price = $(this).attr("data-price"); 
        var name = $(this).attr("data-name")
        console.log(price)
        var data = {   
            "name" :     name,
            "price":     price,
        }; 
        console.log(data.name)
        $.ajax({   
            url: '/user/checkPizza',    
            type: 'POST', 
            data: JSON.stringify(data), 
            contentType: "application/json; charset=utf-8",   
            dataType: "json",   
        });
    });
    $('#brd').on('click', '.uncheck', function() { 
        $(".delete").attr('disabled', false);
        $(this).css("background", "red")
        $(this).attr('disabled', true);
        $(".check").attr('disabled', false);
        $(".check").css("background", "buttonface")
        var price = $(this).attr("data-price"); 
        var name = $(this).attr("data-name")
        var data = {   
            "name" :     name,
            "price":     price,
        }; 
        console.log(data)
        $.ajax({   
            url: '/user/unCheckPizza',    
            type: 'DELETE', 
            data: JSON.stringify(data), 
            contentType: "application/json; charset=utf-8",   
            dataType: "json",   
        });
    });
    $('#brd').on('click', '.delete', function() {   
        $(this).css("background", "red");
        $(".uncheck").attr('disabled', true);
        var name = $(this).attr("data-pizza"); 
        var price = $(this).attr("data-price");
        var data = {    
            "name": name,  
            "price": price,  
        }
        $.ajax({   
            url: '/user/pizzaDelete',    
            type: 'DELETE', 
            data: JSON.stringify(data), 
            contentType: "application/json; charset=utf-8",   
            dataType: "json",   
            success : function(data) {
                console.log(data.name)
            },
        }); 
    });
    function choosePizza() {   
        
        $.get( "/user/choosePizzas", function( data ) {
            
            $("#brd1").empty();
            $.each(data, function(k)  {
                $("#brd1").append("<tr id='remove'><td><input id='pizzaName' data-id='"+data[k].name+"'  value='"+data[k].name+"' disabled class='.noborder'><td><br/><td>Цена:"+data[k].price+"грн<td><br/><button class='choosePizza' data-name='"+data[k].name+"' data-price='"+data[k].price+"'>orderPizza</button></tr>");
                
            });
            console.log(data);
        });
    }
    $('#brd1').on('click', '.choosePizza', function() {  
        $(this).css("background", "green")
        $(this).attr('disabled', true); 
        var pizzaName = $(this).attr("data-id") 
        var name = $(this).attr("data-name"); 
        var price = $(this).attr("data-price");
        if(pizzaName == "МаргаритаL") {
                    $("#pizza").append("<img src='http://v.img.com.ua/nxs199/b/600x500/9/f8/0ec35ab54c1be68ced597584c07d6f89.jpg' width='160px'>")
            }
        var data = {    
            "name": name,  
            "price": price,  
        }
        console.log(data)
        $.ajax({   
            url: '/user/orderPizza',    
            type: 'POST', 
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",  
            dataType: "json", 
            success : function(data) {
                console.log(data.name)
                console.log(data.price)
            },
        });
    });
    
    //pop up
    $(document).ready(function() {
        $('.close').click(function() {
            $.magnificPopup.close();
        });
    });
 
    $(document).ready(function() {
        $('.popup-with-form2').magnificPopup({
            type: 'inline',
            preloader: false,
            focus: '#name',
            callbacks: {
                beforeOpen: function() {
                    if($(window).width() < 700) {
                        this.st.focus = false;
                    }
                }
            }
        });

        $('.popup-with-form1').magnificPopup({
            type: 'inline',
            preloader: false,
            focus: '#name',
            callbacks: {
                beforeOpen: function() {
                    if($(window).width() < 700) {
                        this.st.focus = false;
                    }
                }
            }
        });
         $('.popup-with-form').magnificPopup({
            type: 'inline',
            preloader: false,
            focus: '#name',
            callbacks: {
                beforeOpen: function() {
                    if($(window).width() < 700) {
                        this.st.focus = false;
                    }
                }
            }
        });
    });
</script>
<style>
    .noborder {
        border: 0px;
        color: lightcyan;
    }
</style>